@import "./variables.scss";

@mixin toolbar() {
  height: $toolbar-height;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  padding-inline: 10px;
}

.toolbar {
  @include toolbar();
  justify-content: space-between;
  z-index: 1000;
  &-button {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
  }
  .brush {
    background: url("../assets/brush.png") no-repeat center center;
  }
  .rect {
    background: url("../assets/rect.png") no-repeat center center;
  }
  .circle {
    background: url("../assets/circle.png") no-repeat center center;
  }
  .eraser {
    background: url("../assets/eraser.png") no-repeat center center;
  }
  .line {
    background: url("../assets/line.png") no-repeat center center;
  }
  .undo {
    background: url("../assets/undo.png") no-repeat center center;
  }
  .redo {
    background: url("../assets/redo.png") no-repeat center center;
  }
  .save {
    background: url("../assets/save.png") no-repeat center center;
  }
  .wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-inline: 10px;
  }
}

.setting-bar {
  @include toolbar();
  top: $toolbar-height;
}
